*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

body {
  margin: 0;
}

.page {
  min-block-size: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1919;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  inline-size: 100%;
  max-inline-size: 1140px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
}

.result__video-container video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font: inherit;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  inline-size: fit-content;
  align-content: center;
  justify-content: center;
}

.search-form__label:has(input:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  appearance: none;
  font: inherit;
  inline-size: 225px;
  block-size: 27px;
  border-inline: none;
  border-block: 1px solid currentColor;
  background-color: transparent;
  padding: 0;
  color: #fff;
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  padding: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-color: #fff;
}

.search-form__label-text {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.button {
  appearance: none;
  font: inherit;
  text-align: center;
  color: #fff;
  border: 1px solid currentColor;
  background-color: transparent;
  padding: 6px 0px;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  block-size: 34px;
  flex: 1 1 0%;
  align-self: flex-end;
}

.content__details {
  inline-size: 399px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title,
.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.title {
  font-size: 75px;
  line-height: 94%;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  min-block-size: 300px;
  max-block-size: 300px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  display: flex;
  flex-direction: column;
  inline-size: 398px;
}

li:has(button) {
  display: flex;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px;
  outline: none;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.content__video-card-title {
  font-size: 30px;
  inline-size: 200px;
  padding: 2px;
  margin-bottom: 2px;
  hyphens: auto;
  overflow-wrap: break-word;
}

.content__video-card-description {
  line-height: 16.2px;
  inline-size: 200px;
  padding: 2px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 107px;
  object-fit: cover;
  object-position: center;
  padding: 2px;
}

.more-button {
  block-size: 34px;
  flex: 1 0 auto;
  align-self: flex-end;
}
